:root {
  --primary-gray: #2B2B2B;
	--dark-gray: #333333;
	--green: #009379;
	--blue: #3366FF;
	--red: #FF6250;
	--yellow: #FFDF90;
	--purple: #BFAFF2;
	--light-gray: #C4C4C4;
	--white: #FFFFFF;

	--primary-font: "Poppins", sans-serif;
}

body {
  margin: 0;
  display: flex;
	justify-content: center;
	font-size: 18px;
	color: var(--white);
	font-family: var(--primary-font);
	background-color: var(--primary-gray);
}

p, small {
	opacity: 0.4;
	font-weight: 400;
	line-height: 1.778rem;
	font-size: 1rem;
}

.text-body__primary {
	line-height: 1.778rem;
	font-size: 1rem;
}

.text-body__secondary {
	line-height: 2.222rem;
	font-size: 1.333rem;
}

.text-head__primary {
	font-size: 60px;
	line-height: 90px;
}

.text-head__secondary {
	font-size: 40px;
	line-height: 60px;
}

#app {
	width: 100%;
  max-width: 1280px;
	padding: 20px;
}

